# Architecture
BR2_aarch64=y
BR2_cortex_a72=y

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_ARM_AARCH64=y

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_2=y

BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_PRESTERA_PATH)/patches/linux/5.15.11"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_PRESTERA_PATH)/board/common/a7k/linux.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_PRESTERA_PATH)/board/common/linux-prestera.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="marvell/armada-7040-db"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_PRESTERA_PATH)/patches/linux/5.15.11"
BR2_LINUX_KERNEL_LATEST_VERSION=n
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_VERSION="5.15.11"
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.11"

# System
BR2_SYSTEM_BIN_SH_BASH=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_TARGET_GENERIC_HOSTNAME="amzgo-host"

# Rootfs
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="140M"

# Packages

# Connection tracking
BR2_PACKAGE_CONNTRACK_TOOLS=y

# Prestera
BR2_PACKAGE_CPSS=y
BR2_PACKAGE_PRESTERA_DRIVER=y
BR2_PACKAGE_PLATFORM_DRIVERS=y
BR2_PACKAGE_PLAT_GPIO_I2C=y
BR2_PACKAGE_PRESTERA_SYSTEM=y
BR2_PACKAGE_PRESTERA_FW_VENDOR_STRING="marvell"
BR2_PACKAGE_PRESTERA_FW=y
BR2_PACKAGE_PRESTERA_FW_VERSION="3.1.2"
BR2_PACKAGE_PRESTERA_FW_INSTALL_SUBDIR="marvell"
BR2_PACKAGE_PRESTERA_FW_FLASH=y
# changes/fixes/scripts needed by QA
BR2_PACKAGE_PRESTERA_QA=y
BR2_PACKAGE_PRESTERA_SSH=y

BR2_PRESTERA_BASE_PACKAGES=y

BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y

BR2_PACKAGE_LM_SENSORS=y
BR2_PACKAGE_LM_SENSORS_SENSORS=y
BR2_PACKAGE_LM_SENSORS_PWMCONFIG=y
BR2_PACKAGE_LM_SENSORS_FANCONTROL=y

BR2_PACKAGE_LINUX_TOOLS=y
BR2_PACKAGE_LINUX_TOOLS_SELFTESTS=y

BR2_PACKAGE_NUMACTL=y
BR2_PACKAGE_JQ=y

# Required tools to create the SD image
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y

BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_PRESTERA_PATH)/board/common/a7k/post-image.sh"
