# Architecture
BR2_aarch64=y
BR2_cortex_a72=y
BR2_ENABLE_DEBUG=n

# Toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_ARM_AARCH64=y

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_2=y

#BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_PRESTERA_PATH)/patches/swdev/host"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=n
#BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.11"
BR2_LINUX_KERNEL_CUSTOM_TARBALL=n
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/Marvell-switching/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="686f3f29dd06e1fbdf687c9b49a76a8476caf78e"
BR2_LINUX_KERNEL_USE_DEFCONFIG=n
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=n
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y

BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_PRESTERA_PATH)/board/marvell/marvell_v8_sdk_swdev515_defconfig"
#BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_PRESTER
#A_PATH)/board/common/ac5x/trampoline-linux.cfg"

BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_INTREE_SUBDIR="marvell"
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_PRESTERA_PATH)/board/marvell/ac5_as4564_trampoline.dts"
BR2_LINUX_KERNEL_LATEST_VERSION=n
BR2_LINUX_KERNEL_VERSION=5.15.11
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE=5.15.11
BR2_LINUX_KERNEL_CUSTOM_VERSION=n

# System
BR2_SYSTEM_BIN_SH_BASH=n
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_SRL=n
BR2_PACKAGE_BASH_STATIC=n
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_TARGET_GENERIC_HOSTNAME="trampoline"

# Rootfs
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_PRESTERA_PATH)/board/accton/asic/as4564_26p_ac5x_trampoline/rootfs-overlay"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="256M"

# Packages

# Connection tracking
BR2_PACKAGE_CONNTRACK_TOOLS=y

# Prestera
BR2_PACKAGE_PRESTERA_DRIVER=y
BR2_PACKAGE_PLATFORM_DRIVERS=y
BR2_PACKAGE_PRESTERA_DRIVER_IPC_TRAMPOLINE=y
BR2_PACKAGE_CPSS=y
BR2_PACKAGE_CPSS_PRESTERA_SWDEV_KMOD=y
BR2_PACKAGE_CPSS_DRIVERS_KMOD=y
BR2_PACKAGE_CPSS_PRESTERA_SWDEV_IPC_PCI=n
BR2_PACKAGE_CPSS_PRESTERA_SWDEV_IPC_TRAMPOLINE=y
BR2_PACKAGE_CPSS_PRESTERA_SWDEV_PLAT_GPIO_I2C=y
BR2_PACKAGE_CPSS_PRESTERA_SWDEV_PLAT_TN48XXM_CPLD=n
BR2_PACKAGE_CPSS_PRESTERA_SWDEV_PLAT_AS5114_48X_CPLD=n
BR2_PACKAGE_PLATFORM_DRIVERS=y
BR2_PACKAGE_PLAT_GPIO_I2C=y

BR2_PACKAGE_PRESTERA_SYSTEM=y
BR2_PACKAGE_PRESTERA_FW=y
BR2_PACKAGE_PRESTERA_FW_VERSION="3.1.1"
BR2_PACKAGE_PRESTERA_FW_DEFCONFIG="a38x_fw_bin ac5x_fw_bin"
BR2_PACKAGE_PRESTERA_FW_FLASH=y
# changes/fixes/scripts needed by QA
BR2_PACKAGE_PRESTERA_QA=y
BR2_PACKAGE_PRESTERA_SSH=y

BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_GDB_SERVER=n

BR2_PACKAGE_IFUPDOWN=y
BR2_PACKAGE_IFUPDOWN_SCRIPTS=y

BR2_PRESTERA_BASE_PACKAGES=y

BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y

BR2_PACKAGE_LM_SENSORS=y
BR2_PACKAGE_LM_SENSORS_SENSORS=y
BR2_PACKAGE_LM_SENSORS_PWMCONFIG=y
BR2_PACKAGE_LM_SENSORS_FANCONTROL=y

BR2_PACKAGE_LINUX_TOOLS=y
BR2_PACKAGE_LINUX_TOOLS_SELFTESTS=y

BR2_PACKAGE_NUMACTL=n
BR2_PACKAGE_JQ=n

# Required tools to create the SD image
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_PCRE=y
BR2_PACKAGE_PCRE2=y
BR2_PACKAGE_LIGHTTPD=y

BR2_PACKAGE_CPSS=y
BR2_PACKAGE_CPSS_AGENT=y
BR2_PACKAGE_CPSS_AGENT_DEBUG_INFO=n
BR2_PACKAGE_CPSS_AGENT_SWDEV_PCI=y
BR2_PACKAGE_CPSS_AGENT_SWDEV_IPC_ADDR="0x212000000"
BR2_PACKAGE_CPSS_AGENT_SWDEV_IPC_SIZE="4194304"
BR2_PACKAGE_CPSS_AGENT_SWDEV_FW_VER="3.1.1"
BR2_PACKAGE_LIBZLIB=y
BR2_PACKAGE_PRESTERA_FW_GEN=y
BR2_PACKAGE_PRESTERA_FW_GEN_SUFFIX="_arm64"

BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_PRESTERA_PATH)/board/common/ac5x/post-image-trampoline.sh"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_PRESTERA_PATH)/board/common/ac5x/post-build-trampoline.sh"
